*.classpath
.gradle/3.5/file-changes/last-build.bin
*.lock
.gradle/4.2.1/fileChanges/last-build.bin
*.bin
.gradle/buildOutputCleanup/cache.properties
*.project
.settings/org.eclipse.buildship.core.prefs
*.jar
bin/is/ru/stringCalculator/Calculator.class
*.class
build.gradle
*.tar
build/distributions/StringCalculator.zip
*.html
build/reports/tests/test/css/base-style.css
*.css
build/reports/tests/test/js/report.js
*.bat
build/scripts/StringCalculator
*.idx
build/test-results/test/TEST-is.ru.stringCalculator.CalculatorTest.xml
*.MF
commands.txt